name: CI

on: push

jobs:
  build:
    defaults:
      run:
        shell: bash -l {0}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
  
      - name: Set up miniconda and environment
        uses: conda-incubator/setup-miniconda@v2.0.0
        with:
          environment-file: ./environment.yml
          activate-environment: DummyEnv

      - name: Set up latex
        uses: vinay0410/tectonic-action@master
        with:
          tex_path: 'writting/Long_text.tex'
          push: 'yes'

      # - name: Test PDF compiles
      #   run: inv compile
